ADFCloud/pipeline/DBSQl a ADLS_conVariables.json
{
	"name": "DBSQl a ADLS_conVariables",
	"properties": {
		"activities": [
			{
				"name": "Copy Advworks SQL server to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "modificar variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CdD_origen_SQLDimensiones",
						"type": "DatasetReference",
						"parameters": {
							"Tablename": {
								"value": "@pipeline().parameters.Tablename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "CdD_destino_Dimensiones",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@concat(variables('FileName'),'_',formatDateTime(utcnow(),'yyyy-MM-dd'),'_',formatDateTime(utcnow(),'HH:mm:ss'),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "modificar variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@replace(pipeline().parameters.Tablename,'SalesLT','')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Tablename": {
				"type": "String"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Varios"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-27T10:02:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}